extends layout

block content
  .main#index
    .col-lg-6
      | Points of Interest
      a.card.list-el(href="/poi/new") Add new PoI
      a.card.list-el(v-for="poi in pois" v-bind:href="'/poi/'+poi.id")
        .card-title {{poi.title.EN}}
    .col-lg-6
      | Journeys
      a.card.list-el(href="/journey/new") Add new Journey
      a.card.list-el(v-for="journey in journeys" v-bind:href="'/journey/'+journey.id")
        .card-title {{journey.title.EN}}
block scripts
  script(type="text/javascript" src="/js/index.js")
