body
  padding: 50px
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
a
  color: #00B7FF

#map_canvas
  margin: 0
  padding: 0
  width inherit
  height 400px
  margin-bottom 20px

.list-el
  cursor pointer
  margin-top 5px
  margin-bottom 5px
  vertical-align middle
  padding 10px
  .card-title
    margin-bottom 0px

.input-error
  color: red

.dropdown-menu
  width: 100%

.poi-element
  font-size 1rem
  width 100%
  padding 10px
  border-radius 3px
  margin-top 5px
  margin-bottom 5px
  border 1px solid lightgray

.poi-button
  position relative
  float right
  padding-top: 0px
  padding-bottom 0px

.trash
  padding-left 15px
  &:hover
    color red

