body
  padding: 50px
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
a
  color: #00B7FF

#map_canvas
  margin: 0
  padding: 0
  width inherit
  height 400px
  margin-bottom 20px

.list-el
  cursor pointer
  margin-top 5px
  margin-bottom 5px
  vertical-align middle
  padding 10px
  .card-title
    margin-bottom 0px